
<div>


        <div class="jumbotron">
            <div class="container">
         

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-4">
                  
                </div>
                <div class="col-lg-4">
                 
                </div>
                <div class="col-lg-4">
                
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy Developed by TKR</p>
            </footer>
        </div> <!-- /container -->






    </div> <!-- /container -->









</div>